
.ui-widget-header {
  
    border: 1px solid #211f1f !important;
    background: #3b5470 !important;
    color: #f7f2f2 !important;
  
}

table.table tbody tr.odd {
    background-color: #c6c5cb;
}

table.dataTable thead th, table.dataTable thead td {
    cursor: pointer;
}