/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    border-bottom: 1px solid #b8bdc1;
}

.modal-header .close {
    padding: 15px;
    margin: -15px -15px -15px auto;
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    background-color: #fefefe;
    margin: 10% auto; /*15% from the top and centered */
    width: 55%; /* Could be more or less, depending on screen size */
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 15px;
    border-top: 1px solid #b8bdc1;
}

.modal-footer>:not(:last-child) {
    margin-right: .5rem;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:not([disabled]):not(.disabled):active{
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
    box-shadow: 0 0 0 0.25rem rgba(0,123,255,.5);
}

.btn-secondary {
    color: #fff;
    background-color: #868e96;
    border-color: #868e96;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #727b84;
    border-color: #6c757d;
}

.btn-secondary:not([disabled]):not(.disabled):active{
    color: #fff;
    background-color: #6c757d;
    border-color: #666e76;
    box-shadow: 0 0 0 0.2rem rgba(134,142,150,.5);
}

.button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* The Close Button */
.btn-close {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

button.btn-close{
    padding: 0;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/**** GRID ****/

.modal-body input,
.modal-body select option,
.modal-body select {
  width: 100%;
  margin: .5em;
  padding: .5em;
  line-height: 1.4;
  background-color: #ccccd9;
  border: 1px solid #555a72;
  border-radius: 3px;
  box-sizing: border-box; 
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.modal-body select {
  height: 2.5em;
  line-height: 2;
}
select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
select:focus,
select:active {
  outline: 0;
}
select option {
  background-color: #7a8bad;
  color: #fff;
}

.select-1{  
    zoom: 1;
    width: 20%;
    display: inline-block;
    margin: 0 10px; 
}

.input-select{

    width: 55%;
}   

.select-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group {
   
    zoom: 1;
    width: 40%;
    display: inline-block;
    margin: 0 10px;
}

.input-error{

  border: 3px solid #c51244 !important;

}

.row-flex{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.input-group-icon .input-icon:after {

  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.input-group-icon .input-icon i {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}